@import "node_modules/normalize.less/normalize.less";
@import "mixins.less";
@import "variables.less";
@import "blocks/main-nav.less";
@import "blocks/call-request.less";
@import "blocks/page-header.less";
@import "blocks/advantages.less";
@import "blocks/page-footer.less";
@import "blocks/prices.less";
@import "blocks/intro.less";
@import "blocks/description.less";
@import "blocks/reasons.less";
@import "blocks/reviews-portfolio.less";
@import "blocks/about.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/portfolio.less";
@import "blocks/contacts-form.less";
@import "blocks/call-master.less";
@import "blocks/popup-report.less";
@import "sprites/index-sprite.less";
@import "sprites/common-sprite.less";

@import "colorbox.less";


body {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 750px;
}

img {
  max-width: 100%;
  height: auto;
}

html * {
  max-height: 1000000px;
}

