/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arrow-sm-name: 'arrow-sm';
@arrow-sm-x: 199px;
@arrow-sm-y: 0px;
@arrow-sm-offset-x: -199px;
@arrow-sm-offset-y: 0px;
@arrow-sm-width: 110px;
@arrow-sm-height: 77px;
@arrow-sm-total-width: 384px;
@arrow-sm-total-height: 381px;
@arrow-sm-image: 'index-sprite.png';
@arrow-sm: 199px 0px -199px 0px 110px 77px 384px 381px 'index-sprite.png' 'arrow-sm';
@arrow-name: 'arrow';
@arrow-x: 0px;
@arrow-y: 0px;
@arrow-offset-x: 0px;
@arrow-offset-y: 0px;
@arrow-width: 199px;
@arrow-height: 140px;
@arrow-total-width: 384px;
@arrow-total-height: 381px;
@arrow-image: 'index-sprite.png';
@arrow: 0px 0px 0px 0px 199px 140px 384px 381px 'index-sprite.png' 'arrow';
@icon-arrow-left-name: 'icon-arrow-left';
@icon-arrow-left-x: 289px;
@icon-arrow-left-y: 231px;
@icon-arrow-left-offset-x: -289px;
@icon-arrow-left-offset-y: -231px;
@icon-arrow-left-width: 25px;
@icon-arrow-left-height: 44px;
@icon-arrow-left-total-width: 384px;
@icon-arrow-left-total-height: 381px;
@icon-arrow-left-image: 'index-sprite.png';
@icon-arrow-left: 289px 231px -289px -231px 25px 44px 384px 381px 'index-sprite.png' 'icon-arrow-left';
@icon-arrow-right-name: 'icon-arrow-right';
@icon-arrow-right-x: 267px;
@icon-arrow-right-y: 77px;
@icon-arrow-right-offset-x: -267px;
@icon-arrow-right-offset-y: -77px;
@icon-arrow-right-width: 25px;
@icon-arrow-right-height: 44px;
@icon-arrow-right-total-width: 384px;
@icon-arrow-right-total-height: 381px;
@icon-arrow-right-image: 'index-sprite.png';
@icon-arrow-right: 267px 77px -267px -77px 25px 44px 384px 381px 'index-sprite.png' 'icon-arrow-right';
@icon-check-name: 'icon-check';
@icon-check-x: 344px;
@icon-check-y: 231px;
@icon-check-offset-x: -344px;
@icon-check-offset-y: -231px;
@icon-check-width: 24px;
@icon-check-height: 24px;
@icon-check-total-width: 384px;
@icon-check-total-height: 381px;
@icon-check-image: 'index-sprite.png';
@icon-check: 344px 231px -344px -231px 24px 24px 384px 381px 'index-sprite.png' 'icon-check';
@icon-clean-sm-name: 'icon-clean-sm';
@icon-clean-sm-x: 0px;
@icon-clean-sm-y: 308px;
@icon-clean-sm-offset-x: 0px;
@icon-clean-sm-offset-y: -308px;
@icon-clean-sm-width: 60px;
@icon-clean-sm-height: 73px;
@icon-clean-sm-total-width: 384px;
@icon-clean-sm-total-height: 381px;
@icon-clean-sm-image: 'index-sprite.png';
@icon-clean-sm: 0px 308px 0px -308px 60px 73px 384px 381px 'index-sprite.png' 'icon-clean-sm';
@icon-clean-name: 'icon-clean';
@icon-clean-x: 309px;
@icon-clean-y: 0px;
@icon-clean-offset-x: -309px;
@icon-clean-offset-y: 0px;
@icon-clean-width: 75px;
@icon-clean-height: 91px;
@icon-clean-total-width: 384px;
@icon-clean-total-height: 381px;
@icon-clean-image: 'index-sprite.png';
@icon-clean: 309px 0px -309px 0px 75px 91px 384px 381px 'index-sprite.png' 'icon-clean';
@icon-close-name: 'icon-close';
@icon-close-x: 309px;
@icon-close-y: 275px;
@icon-close-offset-x: -309px;
@icon-close-offset-y: -275px;
@icon-close-width: 18px;
@icon-close-height: 20px;
@icon-close-total-width: 384px;
@icon-close-total-height: 381px;
@icon-close-image: 'index-sprite.png';
@icon-close: 309px 275px -309px -275px 18px 20px 384px 381px 'index-sprite.png' 'icon-close';
@icon-error-name: 'icon-error';
@icon-error-x: 309px;
@icon-error-y: 182px;
@icon-error-offset-x: -309px;
@icon-error-offset-y: -182px;
@icon-error-width: 35px;
@icon-error-height: 32px;
@icon-error-total-width: 384px;
@icon-error-total-height: 381px;
@icon-error-image: 'index-sprite.png';
@icon-error: 309px 182px -309px -182px 35px 32px 384px 381px 'index-sprite.png' 'icon-error';
@icon-experience-sm-name: 'icon-experience-sm';
@icon-experience-sm-x: 153px;
@icon-experience-sm-y: 231px;
@icon-experience-sm-offset-x: -153px;
@icon-experience-sm-offset-y: -231px;
@icon-experience-sm-width: 68px;
@icon-experience-sm-height: 73px;
@icon-experience-sm-total-width: 384px;
@icon-experience-sm-total-height: 381px;
@icon-experience-sm-image: 'index-sprite.png';
@icon-experience-sm: 153px 231px -153px -231px 68px 73px 384px 381px 'index-sprite.png' 'icon-experience-sm';
@icon-experience-name: 'icon-experience';
@icon-experience-x: 85px;
@icon-experience-y: 140px;
@icon-experience-offset-x: -85px;
@icon-experience-offset-y: -140px;
@icon-experience-width: 85px;
@icon-experience-height: 91px;
@icon-experience-total-width: 384px;
@icon-experience-total-height: 381px;
@icon-experience-image: 'index-sprite.png';
@icon-experience: 85px 140px -85px -140px 85px 91px 384px 381px 'index-sprite.png' 'icon-experience';
@icon-garanty-sm-name: 'icon-garanty-sm';
@icon-garanty-sm-x: 221px;
@icon-garanty-sm-y: 231px;
@icon-garanty-sm-offset-x: -221px;
@icon-garanty-sm-offset-y: -231px;
@icon-garanty-sm-width: 68px;
@icon-garanty-sm-height: 69px;
@icon-garanty-sm-total-width: 384px;
@icon-garanty-sm-total-height: 381px;
@icon-garanty-sm-image: 'index-sprite.png';
@icon-garanty-sm: 221px 231px -221px -231px 68px 69px 384px 381px 'index-sprite.png' 'icon-garanty-sm';
@icon-garanty-name: 'icon-garanty';
@icon-garanty-x: 170px;
@icon-garanty-y: 140px;
@icon-garanty-offset-x: -170px;
@icon-garanty-offset-y: -140px;
@icon-garanty-width: 85px;
@icon-garanty-height: 86px;
@icon-garanty-total-width: 384px;
@icon-garanty-total-height: 381px;
@icon-garanty-image: 'index-sprite.png';
@icon-garanty: 170px 140px -170px -140px 85px 86px 384px 381px 'index-sprite.png' 'icon-garanty';
@icon-loupe-name: 'icon-loupe';
@icon-loupe-x: 344px;
@icon-loupe-y: 182px;
@icon-loupe-offset-x: -344px;
@icon-loupe-offset-y: -182px;
@icon-loupe-width: 32px;
@icon-loupe-height: 32px;
@icon-loupe-total-width: 384px;
@icon-loupe-total-height: 381px;
@icon-loupe-image: 'index-sprite.png';
@icon-loupe: 344px 182px -344px -182px 32px 32px 384px 381px 'index-sprite.png' 'icon-loupe';
@icon-name-name: 'icon-name';
@icon-name-x: 292px;
@icon-name-y: 77px;
@icon-name-offset-x: -292px;
@icon-name-offset-y: -77px;
@icon-name-width: 16px;
@icon-name-height: 20px;
@icon-name-total-width: 384px;
@icon-name-total-height: 381px;
@icon-name-image: 'index-sprite.png';
@icon-name: 292px 77px -292px -77px 16px 20px 384px 381px 'index-sprite.png' 'icon-name';
@icon-phone-dark-name: 'icon-phone-dark';
@icon-phone-dark-x: 314px;
@icon-phone-dark-y: 231px;
@icon-phone-dark-offset-x: -314px;
@icon-phone-dark-offset-y: -231px;
@icon-phone-dark-width: 30px;
@icon-phone-dark-height: 33px;
@icon-phone-dark-total-width: 384px;
@icon-phone-dark-total-height: 381px;
@icon-phone-dark-image: 'index-sprite.png';
@icon-phone-dark: 314px 231px -314px -231px 30px 33px 384px 381px 'index-sprite.png' 'icon-phone-dark';
@icon-phone-name: 'icon-phone';
@icon-phone-x: 289px;
@icon-phone-y: 275px;
@icon-phone-offset-x: -289px;
@icon-phone-offset-y: -275px;
@icon-phone-width: 20px;
@icon-phone-height: 20px;
@icon-phone-total-width: 384px;
@icon-phone-total-height: 381px;
@icon-phone-image: 'index-sprite.png';
@icon-phone: 289px 275px -289px -275px 20px 20px 384px 381px 'index-sprite.png' 'icon-phone';
@icon-price-sm-name: 'icon-price-sm';
@icon-price-sm-x: 85px;
@icon-price-sm-y: 231px;
@icon-price-sm-offset-x: -85px;
@icon-price-sm-offset-y: -231px;
@icon-price-sm-width: 68px;
@icon-price-sm-height: 73px;
@icon-price-sm-total-width: 384px;
@icon-price-sm-total-height: 381px;
@icon-price-sm-image: 'index-sprite.png';
@icon-price-sm: 85px 231px -85px -231px 68px 73px 384px 381px 'index-sprite.png' 'icon-price-sm';
@icon-price-name: 'icon-price';
@icon-price-x: 0px;
@icon-price-y: 140px;
@icon-price-offset-x: 0px;
@icon-price-offset-y: -140px;
@icon-price-width: 85px;
@icon-price-height: 91px;
@icon-price-total-width: 384px;
@icon-price-total-height: 381px;
@icon-price-image: 'index-sprite.png';
@icon-price: 0px 140px 0px -140px 85px 91px 384px 381px 'index-sprite.png' 'icon-price';
@icon-team-sm-name: 'icon-team-sm';
@icon-team-sm-x: 199px;
@icon-team-sm-y: 77px;
@icon-team-sm-offset-x: -199px;
@icon-team-sm-offset-y: -77px;
@icon-team-sm-width: 68px;
@icon-team-sm-height: 62px;
@icon-team-sm-total-width: 384px;
@icon-team-sm-total-height: 381px;
@icon-team-sm-image: 'index-sprite.png';
@icon-team-sm: 199px 77px -199px -77px 68px 62px 384px 381px 'index-sprite.png' 'icon-team-sm';
@icon-team-name: 'icon-team';
@icon-team-x: 0px;
@icon-team-y: 231px;
@icon-team-offset-x: 0px;
@icon-team-offset-y: -231px;
@icon-team-width: 85px;
@icon-team-height: 77px;
@icon-team-total-width: 384px;
@icon-team-total-height: 381px;
@icon-team-image: 'index-sprite.png';
@icon-team: 0px 231px 0px -231px 85px 77px 384px 381px 'index-sprite.png' 'icon-team';
@icon-time-sm-name: 'icon-time-sm';
@icon-time-sm-x: 255px;
@icon-time-sm-y: 140px;
@icon-time-sm-offset-x: -255px;
@icon-time-sm-offset-y: -140px;
@icon-time-sm-width: 49px;
@icon-time-sm-height: 73px;
@icon-time-sm-total-width: 384px;
@icon-time-sm-total-height: 381px;
@icon-time-sm-image: 'index-sprite.png';
@icon-time-sm: 255px 140px -255px -140px 49px 73px 384px 381px 'index-sprite.png' 'icon-time-sm';
@icon-time-name: 'icon-time';
@icon-time-x: 309px;
@icon-time-y: 91px;
@icon-time-offset-x: -309px;
@icon-time-offset-y: -91px;
@icon-time-width: 61px;
@icon-time-height: 91px;
@icon-time-total-width: 384px;
@icon-time-total-height: 381px;
@icon-time-image: 'index-sprite.png';
@icon-time: 309px 91px -309px -91px 61px 91px 384px 381px 'index-sprite.png' 'icon-time';
@spritesheet-width: 384px;
@spritesheet-height: 381px;
@spritesheet-image: 'index-sprite.png';
@spritesheet-sprites: @arrow-sm @arrow @icon-arrow-left @icon-arrow-right @icon-check @icon-clean-sm @icon-clean @icon-close @icon-error @icon-experience-sm @icon-experience @icon-garanty-sm @icon-garanty @icon-loupe @icon-name @icon-phone-dark @icon-phone @icon-price-sm @icon-price @icon-team-sm @icon-team @icon-time-sm @icon-time;
@spritesheet: 384px 381px 'index-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
