.advantages {
  background-color: #f0eade;
  background-image: url('../img/adv-bg.jpg');
  background-position: top center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/adv-bg.jpg' sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/adv-bg.jpg', sizingMethod='scale')";
  //background-size: cover;
  background-repeat: no-repeat;
}

.advantages__wrapper {
  max-width: 1180px;
  min-width: 720px;
  padding: 0 15px;
  margin: 0 auto;
}

.advantages__items {
  text-align: center;
  padding: 45px 8%;
  padding-bottom: 0;
  .clearfix();
}

.advantages__item {
  padding-top: 120px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-bottom: 43px;
  margin-right: 5.5%;
  
  &:nth-child(3n) {
    margin-right: 0;
  }
  
  &:before {
    content: '';
    position: absolute;
    background-image: url('../img/index-sprite.png');
    top: 0;
    left: 50%;
  }
}

.advantages__item--experience {
  &:before {
    margin-left: -@icon-experience-width/2;
    background-position: @icon-experience-offset-x @icon-experience-offset-y;
    width: @icon-experience-width;
    height: @icon-experience-height;
  }
}

.advantages__item--garanty {
  &:before {
    margin-left: -@icon-garanty-width/2;
    background-position: @icon-garanty-offset-x @icon-garanty-offset-y;
    width: @icon-garanty-width;
    height: @icon-garanty-height;
  }
}

.advantages__item--team {
  margin-right: 0;
  &:before {
    top: 10px;
    margin-left: -@icon-team-width/2;
    background-position: @icon-team-offset-x @icon-team-offset-y;
    width: @icon-team-width;
    height: @icon-team-height;
  }
}

.advantages__item--time {
  &:before {
    margin-left: -@icon-time-width/2;
    background-position: @icon-time-offset-x @icon-time-offset-y;
    width: @icon-time-width;
    height: @icon-time-height;
  }
}

.advantages__item--price {
  &:before {
    margin-left: -@icon-price-width/2;
    background-position: @icon-price-offset-x @icon-price-offset-y;
    width: @icon-price-width;
    height: @icon-price-height;
  }
}

.advantages__item--clean {
  margin-right: 0;
  &:before {
    margin-left: -@icon-clean-width/2;
    background-position: @icon-clean-offset-x @icon-clean-offset-y;
    width: @icon-clean-width;
    height: @icon-clean-height;
  }
}


.advantages__title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: @burgundy;
  text-transform: uppercase;
  margin-bottom: 0;
  margin: 0 auto;
}

.advantages__text {
  margin-top: 10px;
  color: #808080;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1130px) {
 
  .advantages__item { 
    padding-top: 90px;
    margin-bottom: 30px;
  }
  .advantages__text {
    font-size: 14px;
  }
  .advantages__title {
    font-size: 20px;
    width: 140px;
  }
  .advantages__items {
    padding: 40px 8%;
    padding-bottom: 20px;
  }
  
  .advantages__item--experience {
  &:before {
    margin-left: -@icon-experience-sm-width/2;
    background-position: @icon-experience-sm-offset-x @icon-experience-sm-offset-y;
    width: @icon-experience-sm-width;
    height: @icon-experience-sm-height;
  }
}

.advantages__item--garanty {
  &:before {
    margin-left: -@icon-garanty-sm-width/2;
    background-position: @icon-garanty-sm-offset-x @icon-garanty-sm-offset-y;
    width: @icon-garanty-sm-width;
    height: @icon-garanty-sm-height;
  }
}

.advantages__item--team {
  &:before {
    
    margin-left: -@icon-team-sm-width/2;
    background-position: @icon-team-sm-offset-x @icon-team-sm-offset-y;
    width: @icon-team-sm-width;
    height: @icon-team-sm-height;
  }
}

.advantages__item--time {
  &:before {
    margin-left: -@icon-time-sm-width/2;
    background-position: @icon-time-sm-offset-x @icon-time-sm-offset-y;
    width: @icon-time-sm-width;
    height: @icon-time-sm-height;
  }
}

.advantages__item--price {
  &:before {
    margin-left: -@icon-price-sm-width/2;
    background-position: @icon-price-sm-offset-x @icon-price-sm-offset-y;
    width: @icon-price-sm-width;
    height: @icon-price-sm-height;
  }
}

.advantages__item--clean {
  &:before {
    margin-left: -@icon-clean-sm-width/2;
    background-position: @icon-clean-sm-offset-x @icon-clean-sm-offset-y;
    width: @icon-clean-sm-width;
    height: @icon-clean-sm-height;
  }
}
}

@media (max-width: 900px) {
  .advantages {
    background-image: url('../img/adv-bg-sm.jpg');
  }
  .advantages__item { 
    padding-top: 68px;
    margin-bottom: 20px;
  }
  .advantages__title {
    font-size: 19px;
  }
 .advantages__items {
    padding: 30px 8%;
    padding-bottom: 13px;
  }
  
  .advantages__item--experience {
  &:before {
    margin-left: -@icon-experience-xsm-width/2;
    background-position: @icon-experience-xsm-offset-x @icon-experience-xsm-offset-y;
    width: @icon-experience-xsm-width;
    height: @icon-experience-xsm-height;
  }
  }

  .advantages__item--garanty {
    &:before {
      margin-left: -@icon-garanty-xsm-width/2;
      background-position: @icon-garanty-xsm-offset-x @icon-garanty-xsm-offset-y;
      width: @icon-garanty-xsm-width;
      height: @icon-garanty-xsm-height;
    }
  }

  .advantages__item--team {
    &:before {
      
      margin-left: -@icon-team-xsm-width/2;
      background-position: @icon-team-xsm-offset-x @icon-team-xsm-offset-y;
      width: @icon-team-xsm-width;
      height: @icon-team-xsm-height;
    }
  }

  .advantages__item--time {
    &:before {
      margin-left: -@icon-time-xsm-width/2;
      background-position: @icon-time-xsm-offset-x @icon-time-xsm-offset-y;
      width: @icon-time-xsm-width;
      height: @icon-time-xsm-height;
    }
  }

  .advantages__item--price {
    &:before {
      margin-left: -@icon-price-xsm-width/2;
      background-position: @icon-price-xsm-offset-x @icon-price-xsm-offset-y;
      width: @icon-price-xsm-width;
      height: @icon-price-xsm-height;
    }
  }

  .advantages__item--clean {
    &:before {
      margin-left: -@icon-clean-xsm-width/2;
      background-position: @icon-clean-xsm-offset-x @icon-clean-xsm-offset-y;
      width: @icon-clean-xsm-width;
      height: @icon-clean-xsm-height;
    }
  }
}
