.call-master {
  background-color: #f2eadc;
  border-radius: 5px;
  text-align: center;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.6); 
}

.call-master__title {
  color: @burgundy;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 30px;
}

.call-master__input {
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  padding: 10px 0;
  padding-left: 40px;
  position: relative;
  border: 1px solid #d7c9b1;
 
  &:focus {
    border: 1px solid @burgundy;
  }
}

.call-master label {
  display: block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: -40px;
    background-image: url('../img/index-sprite.png');
    z-index: 5;
  }
}


.call-master label[for=input-name] {
  &:before {
    background-position: @icon-name-offset-x @icon-name-offset-y;
    width: @icon-name-width;
    height: @icon-name-height;
  }

}

.call-master label[for=input-phone] {
  &:before {
    background-position: @icon-phone-offset-x @icon-phone-offset-y;
    width: @icon-phone-width;
    height: @icon-phone-height;
  }
}

.call-master__btn {
  background-color: #84b72c;
  background: linear-gradient(to top, #7bad29, #8fc42f);
  display: block;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #8fb055;
  box-shadow: 0 1.5px 2px rgba(255,255,255,0.3) inset;
  border-radius: 5px;
  padding-left: 40px;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;

  
  &:hover {
    background-color: #9bc64e;
    background: -webkit-linear-gradient(bottom, #8bc729, #9fda33);
    background: -o-linear-gradient(bottom, #8bc729, #9fda33);
    background: linear-gradient(to top, #8bc729, #9fda33);
  }
}

@media (max-width: 1000px) {
  .call-master__title {
    font-size: 22px;
  }
}

@media (max-width: 850px) {
  .call-master__title {
    font-size: 20px;
  }
  
}