.description {
  background-image: url('../img/describe-bg.jpg');
  background-size: cover;
  background-position: top center;
  padding: 5px 0;
}

.description__wrapper {
  width: 1180px;
  margin: 0 auto;
  .clearfix();
}

.description__title {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.description__items {
  counter-reset: myCounter;
  float: left;
  width: 655px;
  
}

.description-item {
  position: relative;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding-left: 90px;
  margin-bottom: 20px;
  min-height: 80px;
  
  span {
    color: @beige-title;
  }
  
  &:last-child {
    padding-left: 10px;
  }
  
  &::before {
    position: absolute;
    left: 0;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: @beige-title;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin: 5px 10px;
    line-height: 58px;
    width: 58px;
    height: 58px;
    top: -10px;
  }
  
  &:last-child {
    &::before {
      display: none;
      
    }
  }
}

.description__link {
  display: block;
  color: #ffffff;
  text-align: center;
  background-color: @bg-btn;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
}


