.main-nav {
 text-align: center;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 3.7%;
  border-left: 1px solid #744b40;
  
  &:first-child {
    border-left: none;
  }
  a {
    padding-top: 7px;
    padding-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.5s ease;
     -moz-transition:  all 0.5s ease;
     -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:before {
      position: absolute;
      content: '';
      left: -3px;
      right: -3px;
      height: 5px;
      background-color: @yellow;
      bottom: -5px;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition:  all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      color: @yellow; 
      position: relative;
      &:before {
        opacity: 1;
      }
    }
  }
}

.main-nav__item--active {
  
    a {
      color: @yellow;
      position: relative;
    &::before {
      position: absolute;
      content: '';
      left: -3px;
      right: -3px;
      height: 5px;
      background-color: @yellow;
      bottom: -5px;
      opacity: 1;
    }
  }
}