.main-nav {
 text-align: center;
}

.main-nav__items {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  padding: 7px 3.7%;
  border-right: 1px solid #744b40;
  
  &:last-child {
    border-right: none;
  }
  a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    
    &:hover {
      color: @yellow; 
      position: relative;
      &::before {
        position: absolute;
        content: '';
        left: -3px;
        right: -3px;
        height: 5px;
        background-color: @yellow;
        bottom: -16px;
      }
    }
  }
}

.main-nav__item--active {
  
    a {
      color: @yellow;
      position: relative;
    &::before {
      position: absolute;
      content: '';
      left: -3px;
      right: -3px;
      height: 5px;
      background-color: @yellow;
      bottom: -16px;
    }
  }
}