.popup-report {
  display: none;
  background-color: @burgundy;

  position: fixed;
  top: 150px;
  width: 530px;
  padding: 10px 25px;
  left: 50%;
  margin-left: -265px;
}

.popup-report__close {
  position: absolute;
  width: 29px;
  height: 29px;
  line-height: 20px;
 
  text-align: center;
  border-radius: 50%;
  border: 1px solid @brown;
  color: @brown;
  font-size: 38px;
  font-weigth: bold;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.popup-report__title {
  text-align: center;
  text-transform: uppercase;
  color: @beige-title;
  font-size: 18px;
}

.popup-report__explic {
  text-align: center;
  color: @brown;
}
.popup-report__name-wrapper {
  float: left;
  width: 45%;
}

.popup-report__input {
  display: block;
  padding: 5px 0;
}

.popup-report__phone-wrapper {
  float: right;
  width: 45%;
  margin-bottom: 25px;
}

label[for=report-message] {
  display: block;
  clear: both;
}

.popup-report__message {
  width: 100%;
  padding: 5px 0;
}

.popup-report__btn {
  display: block;
  margin: 0 auto;
  background-color: #d7c5ad;
  cursor: pointer;
  padding: 10px 40px;
  color: @burgundy;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.popup-report__bottom {
  text-align: center;
  color: @brown;
  font-style: italic;
  
  span {
    color: #ffffff;
    font-weight: bold;
  }
  
}

.popup-report__form {
  label {
    color: @beige-title;
  }
}

