.popup-report {
  display: none;
  position: fixed;
  top: 100px;
  width: 330px;
  height: 440px;
  padding: 10px 100px;
  left: 50%;
  margin-left: -265px;
  z-index: 20;
}

.popup-report__bg {
  background-color: #6a2911;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 130px;
  right: 130px;
  z-index: -1;
  
  &:before {
    position: absolute;
    content: '';
    left: -140px;
    top: 0;
	width: 0;
	height: 0;
	border-top: 230px solid transparent;
	border-right: 140px solid #6a2911;
	border-bottom: 230px solid transparent;
  }
    
  &:after {
    position: absolute;
    content: '';
    right: -140px;
    top: 0;
    width: 0;
	height: 0;
	border-top: 230px solid transparent;
	border-left: 140px solid #6a2911;
	border-bottom: 230px solid transparent;
  }
}

.popup-report__close {
  position: absolute;
  width: 29px;
  height: 29px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid @brown;
  color: @brown;
  font-size: 38px;
  font-weigth: bold;
  cursor: pointer;
  right: 150px;
  top: 10px;
}

.popup-report__title {
  text-align: center;
  text-transform: uppercase;
  color: @beige-title;
  font-size: 24px;
  margin-bottom: 5px;
}

.popup-report__explic {
  font-size: 19px;
  margin-top: 0;
  text-align: center;
  color: @brown;
  margin-bottom: 15px;
}
.popup-report__name-wrapper {
  float: left;
  width: 38%;
}

.popup-report__input {
  display: block;
  padding: 5px 5px;
  margin-top: 5px;
  width: 100%;
  font-size: 14px;
  font-style: italic;
  color: #d69346;
}

.popup-report__input--invalid {
  outline: 1px solid red;
  color: red;
}

.popup-report__phone-wrapper {
  float: right;
  width: 45%;
  margin-bottom: 10px;
}

label[for=report-message] {
  display: block;
  clear: both;
}

.popup-report__message {
  width: 100%;
  padding: 5px 5px;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
  color: #d69346;
}

.popup-report__btn {
  display: block;
  margin: 0 auto;
  background-color: #d7c5ad;
  background: linear-gradient(to top, #dcb383  0%,  #d9c3a9 50%, #d9c3a9 50%, #f0eeed 100%);
  background-repeat: repeat;
  background-size: 100% 88px;
  background-position: 0 0;
  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
  cursor: pointer;
  padding: 12px 30px;
  width: 213px;
  color: @burgundy;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 35px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  
  &:hover {
    background-color: #ddba92;
    background: linear-gradient(to top, #dcb383  0%,  #d9c3a9 50%, #d9c3a9 50%, #f0eeed 100%);
    background-repeat: repeat;
    background-size: 100% 88px;
    background-position: 0 -44px;
  }
}

.popup-report__bottom {
  text-align: center;
  color: @brown;
  font-style: italic;
  font-size: 18px;
  margin-top: 15px;
  span {
    color: #ffffff;
    font-weight: bold;
  }
  
}

.popup-report__form {
  label {
    color: @beige-title;
    font-size: 13px;
    position: relative;
  }
}

.popup-report__error {
  position: absolute;
  content: '';
  width: @icon-error-width;
  height: @icon-error-height;
  background-image: url('../img/common-sprite.png');
  background-position: @icon-error-offset-x @icon-error-offset-y;
  left: -37px;
  top: 20px;
}

.popup-report__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index:10;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.popup-report__shake {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

