/*
Блок цены (главной страницы), а также страница Наши цены (prices.html)
*/

.prices {
  background-color: #dcc6af;
  background-image: url('../img/price-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  padding: 19px 0;
}

.prices__wrapper {
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}

.prices__title {
  margin-top: 30px;
  text-align: center;
  color: @burgundy;
  text-transform: uppercase;
  font-size: 50px;
  position: relative;
  margin-bottom: 50px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 34%;
    top: 25px;
    height: 3px;
    border-bottom: 2px dashed @burgundy;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 34%;
    top: 25px;
    height: 3px;
    border-bottom: 2px dashed @burgundy;
  }
}

.prices__items {
  .clearfix();
  margin-bottom: 40px;
  text-align: center;
  font-size: 0;
}

.prices__item {
  background-color: #f2eadc;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-right: 3.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  overflow: hidden;
  font-size: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.prices__name {
  margin: 0;
  padding: 15px 5px;
  background-color: @burgundy;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.prices__amount {
  color: @burgundy;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  span {
    font-style: normal;
    font-weight: bold;
  }
}

.prices__explic {
  color: #808080;
  list-style: none;
  padding: 0 20px;
  text-align: left;
  li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: @icon-check-width;
      height: @icon-check-height;
      background-image: url('../img/index-sprite.png');
      background-position: @icon-check-offset-x @icon-check-offset-y;
    }
  }
}

.prices__link {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e9ae4f;
  background: linear-gradient(to top, #d59e47 0%, #e5a94b 50%, #e5a94b 50%, #fab952 100%);
  background-repeat: repeat;
  background-size: 100% 88px;
  background-position: 0 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 0 1.5px 2px rgba(255, 255, 255, 0.3) inset;
  margin: 0 20px;
  color: #ffffff;
  border-radius: 7px;
  text-decoration: none;
  border: 1px solid #c99f5c;
  margin-top: 23px;
  margin-bottom: 20px;
  padding: 12px;
  &:hover {
    background-color: @bg-btn;
    background: linear-gradient(to top, #d59e47 0%, #e5a94b 50%, #e5a94b 50%, #fab952 100%);
    background-repeat: repeat;
    background-size: 100% 88px;
    background-position: 0 -44px;
  }
}

@media (max-width: 960px) {
  .prices {
    background-image: url('../img/price-bg-sm.jpg');
    padding: 15px 0;
  }
  
  .prices__item {
    width: 220px;
    font-size: 14px;
  }
  
  .prices__amount {
    font-size: 20px;
  }
  
  .prices__explic {
    padding: 0 15px;
    li {
      padding-left: 35px;
      &:before {
        top: 2px;
      }
    }
  }
  
  .prices__title {
    font-size: 45px;
    &:before {
      width: 29%
    }
    &:after {
      width: 29%
    }
  }
  
  .prices__name {
    font-size: 23px;
    padding: 12px 10px;
    margin-bottom: 20px;
  }
}
