/*
Страница Отзывы (reviews.html)
*/

.reviews {
  background-color: #f7f1d9;
}

.reviews__wrapper {
  max-width: 1180px;
  min-width: 720px;
  margin: 0 auto;
  padding: 5px 15px;
}

.reviews__title {
  font-size: 40px;
  text-align: left;
  font-weight: normal;
  color: @burgundy;
}

.reviews__text {
  padding-top: 20px;
  font-size: 16px;
  color: @burgundy;
  border-top: 2px dashed @burgundy;
  margin-bottom: 0;
}

.reviews__images {
  font-size: 0;
  border-bottom: 2px dashed @burgundy;
  padding-top: 20px;
  margin-bottom: 40px;
}

.reviews__image {
  display: inline-block;
  margin-right: 5.2%;
  margin-bottom: 40px;
  width: 21%;
  font-size: 16px;
  vertical-align: top;
  
  a {
    display: block;
    position: relative;
      &:before {
        position: absolute;
        content: '';
        width: @icon-plus-width;
        height: @icon-plus-height;
        background-image: url('../img/common-sprite.png');
        background-position: @icon-plus-offset-x @icon-plus-offset-y;
        left: 50%;
        margin-left: -12px;
        top: 45%;
        z-index: 5;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
	     transition: all 0.4s ease;
      }
    &:hover {
      &:before {
       opacity: 1;
      }
      
      img {
         -webkit-transition: 0.4s -webkit-filter ease;
        -moz-transition: 0.4s -moz-filter ease;
        -o-transition: 0.4s -o-filter ease;
        transition: 0.4s -webkit-filter linear;
        transition: 0.4s filter ease, 0.4s -webkit-filter linear;
        filter: blur(3px);
      }
    }
  }
  
  img {
    width: 100%;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.reviews__name {
  color: @burgundy;
  font-style: italic;
}

.reviews__contacts {
  text-align: center;
  font-size: 34px;
  color: @brown;
  margin-bottom: 50px;
  span {
    font-style: italic;
  }
  b {
    color: @burgundy;
  }
}

@media (max-width: 1000px) {
  .reviews__title {
    font-size: 37px;
  }
  
  .reviews__image {
    width: 29%;
    margin-right: 6%;
    &:nth-child(4n) {
      margin-right: 6%;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  .reviews__name {
    font-size: 14px;
  }
}
